<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="PMMEditor の規則" Description="PMMEditor.csproj のコード分析の規則です。" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1301" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0004" Action="Warning" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="Error" />
    <Rule Id="IDE0017" Action="Warning" />
    <Rule Id="IDE0018" Action="Warning" />
    <Rule Id="IDE0028" Action="Warning" />
    <Rule Id="IDE0029" Action="Warning" />
    <Rule Id="IDE0030" Action="Warning" />
    <Rule Id="IDE0031" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="Error" />
    <Rule Id="RCS1003" Action="Error" />
    <Rule Id="RCS1008" Action="Error" />
    <Rule Id="RCS1010" Action="Error" />
    <Rule Id="RCS1015" Action="Error" />
    <Rule Id="RCS1015FadeOut" Action="None" />
    <Rule Id="RCS1019" Action="Error" />
    <Rule Id="RCS1020" Action="Warning" />
    <Rule Id="RCS1021FadeOut" Action="None" />
    <Rule Id="RCS1022" Action="Warning" />
    <Rule Id="RCS1030" Action="Error" />
    <Rule Id="RCS1036" Action="None" />
    <Rule Id="RCS1037" Action="Error" />
    <Rule Id="RCS1038" Action="Error" />
    <Rule Id="RCS1039" Action="Error" />
    <Rule Id="RCS1040" Action="Error" />
    <Rule Id="RCS1043" Action="Info" />
    <Rule Id="RCS1044" Action="Error" />
    <Rule Id="RCS1045" Action="Warning" />
    <Rule Id="RCS1046" Action="Info" />
    <Rule Id="RCS1050" Action="Hidden" />
    <Rule Id="RCS1052" Action="Warning" />
    <Rule Id="RCS1054" Action="Warning" />
    <Rule Id="RCS1057" Action="Warning" />
    <Rule Id="RCS1059" Action="Info" />
    <Rule Id="RCS1061" Action="Info" />
    <Rule Id="RCS1062" Action="Error" />
    <Rule Id="RCS1066" Action="Warning" />
    <Rule Id="RCS1067" Action="Error" />
    <Rule Id="RCS1073" Action="Info" />
    <Rule Id="RCS1074" Action="Info" />
    <Rule Id="RCS1075" Action="Error" />
    <Rule Id="RCS1077" Action="Warning" />
    <Rule Id="RCS1084" Action="Error" />
    <Rule Id="RCS1087" Action="Error" />
    <Rule Id="RCS1089FadeOut" Action="Info" />
    <Rule Id="RCS1092" Action="Error" />
    <Rule Id="RCS1095" Action="Warning" />
    <Rule Id="RCS1096" Action="Error" />
    <Rule Id="RCS1097" Action="Error" />
    <Rule Id="RCS1106" Action="Error" />
    <Rule Id="RCS1109" Action="Hidden" />
    <Rule Id="RCS1120" Action="Warning" />
    <Rule Id="RCS1124" Action="Info" />
    <Rule Id="RCS1126" Action="Error" />
    <Rule Id="RCS1128" Action="Error" />
    <Rule Id="RCS1134" Action="Warning" />
    <Rule Id="RCS1137" Action="Warning" />
    <Rule Id="RCS1140" Action="Error" />
    <Rule Id="RCS1143" Action="Warning" />
    <Rule Id="RCS1145" Action="Error" />
    <Rule Id="RCS1146" Action="Error" />
    <Rule Id="RCS1151" Action="Error" />
    <Rule Id="RCS1162" Action="Info" />
    <Rule Id="RCS1165" Action="Hidden" />
    <Rule Id="RCS1168" Action="Hidden" />
    <Rule Id="RCS1173" Action="Error" />
    <Rule Id="RCS1174" Action="Warning" />
  </Rules>
</RuleSet>